:root {
    --primary-color: rgb(255 86 63);
}
header {
    border-bottom: 1px solid #39a3f7;
    .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            display: flex;
            align-items: center;
            img {
                height: 40px;
                margin-right: 10px;
            }
        }
        a {
            display: flex;
            align-items: center;
            color: #ffffff;
            span {
                margin-right: 10px;
                font-weight: bold;
                font-size: 14px;
            }
            img {
                width: 35px;
                height: 35px;
                object-fit: contain;
                border-radius: 50%;
            }
        }
    }
}
